[mysqld]
port = 3306

# Ruta donde se almacenan los datos de MySQL
datadir = /var/lib/mysql

# Directorio temporal para archivos temporales
tmpdir = /tmp

# Características de rendimiento y ajustes de tamaño de búfer
key_buffer_size = 16M
max_allowed_packet = 256M
thread_stack = 256K
thread_cache_size = 8
query_cache_size = 16M

# Características de seguridad y autenticación
skip-networking = false
skip-name-resolve = false
secure-file-priv = ""

# Registros y archivos de registro
log-error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log

# Características de replicación (si es necesario)
server-id = 1
log_bin = /var/log/mysql/mysql-bin.log

socket = /var/lib/mysql/mysql.sock